node_modules/
.expo/
dist/
.DS_Store

# iOS build output
ios/build/
ios/Pods/

# Xcode user data
*.xcuserstate
xcuserdata/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env overrides
.env
